@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: 'Itim',cursive;
}

@theme{
  --color-ne_primary:#F8A900;
  --color-ne_primary-200:#ffcc5f;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
